@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    font-family: 'Poppins,';
}
.p{
  font-family: 'Poppins',
  
}

.p{
  font-size: 20px!important;
  
}

/* src/styles.css */

.p-8.rounded-t-lg.h-48.w-full.object-contain {
  transition: transform 0.3s ease-in-out;
}

.p-8.rounded-t-lg.h-48.w-full.object-contain:hover {
  transform: scale(1.1);
}
